@import "../../styles/variables";

.btn {
  position: relative;
  color: $logo-orange;
  border-radius: 999px;
  font-size: 14px;
  letter-spacing: 0.05em;
  padding: 1em 2em;
  font-weight: 600;
  cursor: pointer;
  border: medium solid;
  transition: transform 0.1s ease-out;
  &:hover {
    transform: translateY(-2px);
  }
}

@media only screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    &::after {
      top: 4px;
      left: 4px;
      height: calc(100% - 8px);
      width: calc(100% - 8px);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .btn {
    font-size: 18px;
  }
}
