@import "../../styles/variables";

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: $lightest;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20vh $side-spacing;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: 60px;
  height: 60px;
  width: 60px;
  transform: translateX(-50%);
  z-index: 1;
}

.contact {
  position: absolute;
  top: 60px;
  display: flex;
  align-content: center;
  right: $side-spacing;
  z-index: 1;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.1s ease-out;
    * {
      color: white;
      font-size: 12px;
      transition: color 0.1s ease-out;
    }
    p {
      display: none;
    }
    &:hover {
      background: rgba(black, 0.5);
      &,
      * {
        color: $logo-orange;
      }
    }
  }
}

.title {
  color: $lightest;
  font-size: 48px;
  margin-bottom: 5vh;
  font-weight: 400;
  width: 100%;
  line-height: 125%;
  text-align: center;
  z-index: 1;
}

.bgOuter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .bgInner {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.scrollIcon {
  width: 20px;
  height: 30px;
  margin-left: -12px;
  bottom: 10px;
  margin-top: -35px;
  border: 2px solid $lightest;
  border-radius: 999px;
  opacity: 50%;
  z-index: 1;
  &,
  &::before {
    position: absolute;
    left: 50%;
  }
  &::before {
    content: "";
    width: 6px;
    height: 6px;
    background: $lightest;
    margin-left: -3px;
    top: 4px;
    border-radius: 50%;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(12px);
  }
}

@media only screen and (min-width: 768px) {
  .landing {
    align-items: flex-start;
    justify-content: center;
    padding: 10vh $side-spacing 0 $side-spacing;
  }
  .contact {
    a {
      margin-left: 1rem;
      padding: 0.75rem 1rem;
      * {
        font-size: 14px;
      }
      p {
        display: block;
      }
      i {
        margin-left: 0.5rem;
      }
    }
  }
  .title {
    font-weight: 500;
    font-size: 64px;
    width: 85%;
    text-align: left;
    line-height: 150%;
  }
}

@media only screen and (min-width: 1200px) {
  .title {
    width: 50%;
  }
}
