@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&family=Material+Icons&display=swap");

$inter: "Inter", sans-serif;
$side-spacing: 10vw;
$darkest: #000000;
$darker: #011627;
$dark: #465362;
$light: #cad4df;
$lighter: #eff4fa;
$lightest: #ffffff;
$logo-red: #ec421d;
$logo-orange: #ec691d;
$logo-yellow: #ecbe1d;
