@import "variables";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-size: 1rem;
  color: $darkest;
  font-family: $inter;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.grad-icon {
  background: linear-gradient(
    to bottom right,
    $logo-red,
    $logo-orange,
    $logo-yellow
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
